*{
     
        
}
  
.color{
  background-color: rgb(63, 63, 63);
  padding: 10px;
}.a{
  color: white;
  font-size: 20px;
}.titulo{
padding-right: 92%;
color: white;
}footer{
  background-color: rgb(131, 128, 128);
   color: white;
}
main{
  padding: 0px 50px 0px 50px ;

}.titulo{
  padding-left: 100px;
}